.statusbar {
  background: var(--status-bar-statusbar-background);
  color: var(--status-bar-statusbar-foreground);
}
.statusbar.debugging { background: var(--status-bar-statusbar-debugging-background); }
.statusbar.running { background: var(--status-bar-statusbar-running-background); }
.statusbar #editor-keymap-status {
  white-space: nowrap;
  border-left: 1px solid var(--status-bar-statusbar-editor-keymap-status-border);
  padding: 0 8px;
  height: 100%;
  color: inherit;
}
